/*--------------------*/
/*  Cabinet Menu      */
/*--------------------*/
.cbn-menu {--cbn-icon: 1.25rem;--cbn-fz: 1rem;display: none;}
.cbn-menu > * + * {margin-top: 1.5rem;}
.cbn-menu ul {gap: 0.25rem;display: flex;flex-direction: column;}
.cbn-menu li {line-height: 0;}
.cbn-menu li:last-child {margin-top: var(--sp-lg);}
.cbn-item {position: relative;cursor: pointer;display: flex;align-items: center;gap: 0.5rem;font-size: var(--cbn-fz);line-height: var(--cbn-icon);font-weight: 400;color: var(--clr-title);padding: 0.9375rem 1rem;background-color: transparent;border-radius: 0.75rem;transition: var(--transition-1);}
.cbn-item svg {display: inline-block;width: var(--cbn-icon);height: var(--cbn-icon);flex-shrink: 0;}
.cbn-item b {display: inline-block;white-space: nowrap;}
.cbn-item.is-active {background-color: var(--clr-white);pointer-events: none;}
.user-info {align-self: center;}
@media (min-width: 1200px) {
.cbn-item:hover {color: var(--clr-primary);}
.cbn-menu {display: block;position: sticky;top: calc(var(--h-height) + 1rem);background-color: var(--clr-secondary);box-shadow: 0 0.25rem 0 var(--clr-secondary-dark);padding: 1.5rem;border-radius: 1.25rem;}
.cbn-sec .cbn-right {padding-left: 3.625rem;}
}
/*--------------------*/
/*  Cabinet Form      */
/*--------------------*/
.cbn-form > * + * {margin-top: max(0.875rem, 2.5vw);}
.cbn-form.personal-address .form-block {--space: 0.75rem;}
.cbn-form.personal-address .input {padding-right: 5rem;}
/*--------------------*/
/*  Cabinet Orders    */
/*--------------------*/
.order-table {display: grid;grid-template-rows: 1fr;grid-template-columns: 1fr 1fr 1.25fr 1fr 1fr;}
.order-table .order-tr:not(.order-detail):not(:first-child) {margin-top: 0.75rem;}
.order-tr {background-color: var(--clr-white);border-radius: 0.75rem;border: 1px solid var(--clr-border);grid-column: span 5;display: grid;grid-template-columns: subgrid;padding: 0.625rem clamp(1rem, 0.58rem + 0.56vw, 1.25rem);align-items: center;transition: var(--transition-1);}
.order-tr:not(.order-detail).is-active {border-color: var(--bg-light);background-color: var(--bg-light);border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.order-td {font-size: var(--text);line-height: 1.3em;color: var(--clr-title);font-weight: 700;}
.order-td:before {content: attr(data-td-title);display: block;text-align: left;font-weight: 400;font-size: var(--text-md);line-height: 1.3em;color: var(--clr-text);margin-bottom: 0.125rem;}
.order-td:last-child {margin-left: auto;}
.order-td:last-child::before {content: none;margin: 0;}
.order-detail {position: relative;width: 100%;background-color: var(--bg-light);border: none;border-top-left-radius: 0;border-top-right-radius: 0;padding-bottom: 1.25rem;transition: none;display: none;}
.order-items > * + * {margin-top: 0.75rem;}
.order-items .prd-horiz-info-wrapp {flex-grow: 1;align-self: center;display: flex;gap: 0.75rem;}
.order-items .prd-horiz {--img-size: 4.625rem;background-color: var(--clr-white);}
.order-items .prd-horiz-img {background-color: var(--bg-light);border-radius: 1rem;}
.order-items .prd-horiz-controls {flex-shrink: 0;flex-grow: 1;}
.status {position: relative;}
.status::before {content: "";display: inline-block;text-align: left;width: 0.625rem;height: 0.625rem;border-radius: 50%;background-color: var(--accent-clr, var(--clr-text));margin-right: 0.625rem;}
.order-info {display: flex;align-items: flex-start;gap: 0.75rem;margin-top: 0.75rem;}
.order-info > * {padding: 0.75rem;width: calc(50% - 0.375rem);height: -webkit-fill-available;}
@media (max-width: 767px) {
.order-table {grid-template-columns: 1fr 1fr;}
.order-tr {border-radius: 0.5rem;gap: 0.75rem;grid-column: span 2;padding: 0.75rem;}
.order-tr:not(.order-detail) {transition: var(--transition-1) 0.25s;}
.order-tr.is-active:not(.order-detail) {border-bottom-color: transparent;border-radius: 0.5rem 0.5rem 0 0;transition: none;}
.order-td:last-child {grid-column: span 2;margin-inline: auto;}
.order-detail {border-top: none;border-radius: 0 0 0.5rem 0.5rem;}
.order-detail + .order-tr {margin-top: 0.75rem;}
.order-items .prd-horiz-info-wrapp {flex-direction: column;}
.order-items .prd-horiz {--img-size: 4.5rem;padding: 0.75rem;}
.order-info {flex-direction: column;}
.order-info > * {width: 100%;height: auto;}
}