/*====================*/
/*  Inputs            */
/*====================*/
.input-field {--int-height: 3.75rem;--int-pd: 1rem;--icon-size: 1.25rem;--icon-gap: 0.5rem;--font-size: 1rem;display: block;position: relative;text-align: left;line-height: 0;font-size: var(--font-size);}
.input {position: relative;z-index: 1;transition: var(--transition-1);border-radius: 0.75rem;border: 1px solid var(--clr-border);background: var(--clr-white);font-size: var(--font-size);font-weight: 400;line-height: var(--int-height);height: var(--int-height);text-overflow: ellipsis;color: var(--clr-title);padding-inline: var(--int-pd);padding-block: calc(var(--int-pd) * 0.75);}
textarea.input {height: 9.625rem;line-height: 1.38em;}
.input-icon {position: absolute;z-index: 2;pointer-events: none;top: calc((var(--int-height) - var(--icon-size)) / 2);left: var(--int-pd);display: inline-block;width: var(--icon-size);height: var(--icon-size);flex-shrink: 0;-o-object-fit: contain;object-fit: contain;}
.input-field:has(.input-icon) .input {padding-inline: calc(var(--int-pd) + var(--icon-size) + var(--icon-gap)) var(--int-pd);}
.input-error {font-size: 0.875rem;line-height: 1.1em;font-weight: 400;color: var(--clr-red);margin-top: 0.25rem;display: none;}
.input-success {font-size: 0.875rem;line-height: 1.1em;font-weight: 400;color: var(--clr-primary);margin-top: 0.25rem;display: none;}
.input-field.focus {z-index: 5;}
.input-field:where(.focus) .input {border-color: var(--clr-black);}
.input-field.invalid:not(.value) .input,
.input-field.invalid-email .input {border-color: var(--clr-red);}
.input-field.invalid:not(.value) .input-error,
.input-field.invalid-email .input-error {display: block;}
.password-control {--size: 1.25rem;cursor: pointer;display: block;position: absolute;z-index: 3;top: 1.25rem;right: var(--int-pd);width: var(--size);height: var(--size);background-image: url(../img/icons/icon-eye-off.svg);background-repeat: no-repeat;background-position: center;background-size: contain;}
.password-control.view {background-image: url(../img/icons/icon-eye.svg);}
.input-remove,
.input-edit {--size: 1.25rem;cursor: pointer;display: block;position: absolute;z-index: 3;top: 1.25rem;right: var(--int-pd);width: var(--size);height: var(--size);background-image: url(../img/icons/icon-remove.svg);background-repeat: no-repeat;background-position: center;background-size: contain;transition: var(--transition-1);}
.input-edit {right: calc(var(--int-pd) + 2.5rem);background-image: url(../img/icons/icon-edit.svg);}
@media (min-width: 1200px) {
.input-remove:hover,
.input-edit:hover {opacity: 0.8;}
}
@media (max-width: 767px) {
.input-field {--int-height: 2.75rem;--font-size: .875rem;}
.password-control,
.input-remove,
.input-edit {top: 0.75rem;}
}
/*====================*/
/*  Autofill          */
/*====================*/
.input-field.focus .input:not(textarea):-webkit-autofill,
.input-field.value .input:not(textarea):-webkit-autofill,
.input-field.focus .input:not(textarea):-webkit-autofill:hover,
.input-field.value .input:not(textarea):-webkit-autofill:hover,
.input-field.focus .input:not(textarea):-webkit-autofill:focus,
.input-field.value .input:not(textarea):-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {border: 0;-webkit-text-fill-color: var(--clr-black);-webkit-box-shadow: inset 0 0 0 0.0625rem var(--clr-black),inset 0 0 6.25rem var(--clr-white);-webkit-transition: background-color 5000s ease-in-out 0s;transition: background-color 5000s ease-in-out 0s;}
/*====================*/
/*  Checkbox & Radio  */
/*====================*/
.ch-box-wrap {gap: 1rem;display: flex;flex-wrap: wrap;}
.ch-box {--ch-size: 1rem;--lh-size: calc(var(--ch-size) * 1.25);cursor: pointer;gap: calc(var(--ch-size) / 2);display: inline-flex;align-items: center;font-size: var(--ch-size);line-height: var(--lh-size);text-align: left;}
.ch-box a {color: var(--clr-primary);text-decoration: underline;text-decoration-color: transparent;}
.ch-box input[type=radio],
.ch-box input[type=checkbox] {position: relative;display: inline-block;vertical-align: text-top;height: var(--lh-size);width: var(--lh-size);flex-shrink: 0;align-self: baseline;color: var(--clr-border);border-radius: 0.25rem;border: 1px solid currentColor;}
.ch-box input[type=radio]:before,
.ch-box input[type=checkbox]:before {content: "";position: absolute;top: 50%;left: 50%;display: block;width: 100%;height: 100%;transform: translate(-50%, -50%) scale(0);transition: var(--transition-1);border-radius: 0;background-repeat: no-repeat;background-size: 75% 100%;background-position: center center;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M0.75 3.93201L3.93198 7.11399L10.2953 0.75' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
.ch-box input[type=radio]:checked,
.ch-box input[type=checkbox]:checked {color: var(--clr-primary);background-color: currentColor;}
.ch-box input[type=radio]:checked:before,
.ch-box input[type=checkbox]:checked:before {transform: translate(-50%, -50%) scale(1);}
.ch-box input[type=radio] {border-radius: 100%;background-color: transparent !important;}
.ch-box input[type=radio]:before {border-radius: 100%;width: calc(var(--lh-size) - 0.5rem);height: calc(var(--lh-size) - 0.5rem);border: 0.25rem solid var(--clr-primary);background-image: none;background-color: var(--clr-white);}
@media (min-width: 1200px) {
.ch-box a:not(.btn):hover {text-decoration-color: currentColor;}
}
@media (max-width: 575px) {
.ch-box-wrap {align-items: flex-start;flex-direction: column;}
}
/*====================*/
/*  Select            */
/*====================*/
.SumoSelect {--sel-pd: 1rem;--sel-h: 3.75rem;--sel-fz: 1rem;--sel-items: 5;--opt-pd: 0.75rem;--opt-lh: calc(var(--sel-fz) * 1.38);--max-height: calc((var(--opt-pd) * 2 + var(--opt-lh)) * var(--sel-items) + var(--opt-pd) * 2);cursor: pointer;z-index: 1;width: 100%;}
.SumoUnder {z-index: 0;padding: 0;margin: 0;line-height: 0;font-size: 0;display: none;backface-visibility: hidden;}
.SumoSelect > .CaptionCont {z-index: 1;transition: var(--transition-1);height: var(--sel-h);color: var(--clr-black);text-align: left;background: var(--clr-white);border-radius: 0.75rem;border: 1px solid var(--clr-border);padding-block: calc(var(--sel-pd) * 0.75);padding-inline: var(--sel-pd) calc(var(--sel-pd) * 2.5);}
.SumoSelect > .CaptionCont > span {cursor: pointer;padding-right: 0;font-size: var(--sel-fz);font-weight: 400;line-height: calc(var(--sel-h) - var(--sel-pd) * 0.75 * 2);color: currentColor;backface-visibility: hidden;}
.SumoSelect > .CaptionCont > span.placeholder {font-style: normal;color: var(--clr-text);}
.SumoSelect > .CaptionCont > label {display: inline-block;cursor: pointer;width: 1.25rem;height: 1.25rem;color: currentColor;right: var(--sel-pd);bottom: auto;top: 50%;transform: translateY(-50%);transition: var(--transition-1);}
.SumoSelect > .CaptionCont > label i {background-image: none;opacity: 1;width: 0.625rem;height: 0.625rem;top: 40%;left: 50%;right: auto;bottom: auto;color: currentColor;border-right: 0.0625rem solid currentColor;border-bottom: 0.0625rem solid currentColor;transform: translate(-50%, -50%) rotate(45deg);}
.input-field:has(.input-icon) .SumoSelect > .CaptionCont {padding-inline: calc(var(--sel-pd) + var(--icon-size) + var(--icon-gap)) calc(var(--sel-pd) * 2.5);}
.SumoSelect > .optWrapper {display: block;overflow: auto;z-index: 2;padding: 0;top: 100%;left: 0;width: 100%;border: none;border-radius: 0.75rem;opacity: 0;visibility: hidden;backface-visibility: hidden;background-color: var(--clr-white);box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.15);transition: 0s;margin-top: 1px;}
.SumoSelect > .optWrapper > .options {font-size: var(--sel-fz);max-height: var(--max-height);padding: 0.5rem;border-radius: 0 !important;}
.SumoSelect > .optWrapper > .options li.opt {padding: 0;border-bottom: 0;background-color: transparent !important;}
.SumoSelect > .optWrapper > .options li label {transition: var(--transition-1);white-space: unset;font-size: var(--sel-fz);line-height: var(--opt-lh);font-weight: 400;color: var(--clr-black);text-align: left;padding: var(--opt-pd) 0.5rem;background-color: var(--clr-white);border-radius: 0.25rem;}
.SumoSelect > .optWrapper > .options li.opt.selected label {background-color: rgba(0, 147, 64, 0.15);}
.SumoSelect > .optWrapper > .options > .opt.disabled:first-child {display: none !important;}
.SumoSelect > .optWrapper > .options li.group > label {padding: var(--opt-p) var(--sel-p);font-weight: 600;}
.SumoSelect > .optWrapper > .options li ul li.opt {padding-left: var(--opt-p);}
.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {box-shadow: none;border-color: var(--clr-black);}
.SumoSelect.open > .CaptionCont {border-color: var(--clr-black);}
.SumoSelect.open > .CaptionCont > label {transform: translateY(-50%) rotateX(180deg);}
.SumoSelect.open > .optWrapper {top: 100%;opacity: 1;visibility: visible;transition: var(--transition-1);transition-delay: 0.2s;}
.SumoSelect.disabled {opacity: 0.5;}
.SumoSelect.disabled > .CaptionCont {cursor: not-allowed;}
.SumoSelect.disabled > .CaptionCont > span {cursor: not-allowed;}
@media (min-width: 1200px) {
.SumoSelect > .optWrapper > .options li.opt:hover label {background-color: rgba(0, 147, 64, 0.15);}
}
@media (max-width: 767px) {
.SumoSelect {--sel-h: 2.75rem;--sel-fz: .875rem;}
}
/*====================*/
/*  Calendar          */
/*====================*/
.input.calendar {cursor: pointer;}
.lightpick {position: absolute;z-index: 6;left: 0 !important;top: var(--int-height) !important;width: 100%;min-width: -moz-fit-content;min-width: fit-content;border-radius: 0.75rem;background-color: var(--clr-white);border: solid 1px var(--clr-border);transition: var(--transition-1);transition-delay: 0.2s;}
.lightpick.is-hidden {transition: none;opacity: 0;visibility: hidden;}
.lightpick--inlined {position: relative;display: inline-block;}
.lightpick__months {display: grid;grid-template-columns: var(--lt-columns, auto);}
.lightpick--2-columns {--lt-columns: auto auto;}
.lightpick--3-columns {--lt-columns: auto auto auto;}
.lightpick--4-columns {--lt-columns: auto auto auto auto;}
.lightpick--5-columns {--lt-columns: auto auto auto auto auto;}
.lightpick__month {display: block;}
.lightpick__month-title-bar {padding-left: var(--int-pd, 1rem);padding-right: calc(var(--int-pd, 1em) / 2);padding-block: 1rem;display: flex;align-items: center;justify-content: space-between;}
.lightpick__month-title {cursor: default;font-size: 0.875rem;line-height: 1em;font-weight: 700;color: var(--clr-black);gap: 0.5rem;display: flex;align-items: center;flex-direction: row-reverse;}
.lightpick__select-wrap:has(.lightpick__select-months) {position: relative;padding-right: 0.625rem;}
.lightpick__select-wrap:has(.lightpick__select-months)::before {content: "";position: absolute;top: 45%;right: 0;transform: translateY(-50%) rotate(45deg);width: 0.375rem;height: 0.375rem;border-right: 0.0625rem solid currentColor;border-bottom: 0.0625rem solid currentColor;pointer-events: none;color: var(--clr-primary);}
.lightpick__select {cursor: pointer;border: none;outline: none;background-color: transparent;appearance: none;-moz-appearance: none;-webkit-appearance: none;display: inline-block;color: inherit;width: auto;font-size: 1em;}
.lightpick__select:disabled {color: var(--clr-grey);}
.lightpick__select.lightpick__select-months {text-transform: capitalize;}
.lightpick__toolbar {display: flex;align-items: center;}
.lightpick__previous-action,
.lightpick__next-action {cursor: pointer;position: relative;outline: none;border: none;width: 1.5rem;height: 1.5rem;border-radius: 0.75rem;color: var(--clr-primary);transition: var(--transition-1);}
.lightpick__previous-action::before,
.lightpick__next-action::before {content: "";position: absolute;left: 48%;top: 50%;width: 0.375rem;height: 0.375rem;border-right: 0.125rem solid currentColor;border-bottom: 0.125rem solid currentColor;transform: translate(-50%, -50%) rotate(-45deg);}
.lightpick__previous-action {transform: rotate(180deg);}
.lightpick__close-action {display: none;}
.lightpick__days-of-the-week {padding-inline: calc(var(--int-pd, 1rem) / 2);display: grid;grid-template-columns: repeat(7, 1fr);}
.lightpick__day-of-the-week {height: 2.5rem;line-height: 2.5rem;font-size: 0.875rem;font-weight: 400;color: var(--clr-title);text-align: center;text-transform: capitalize;}
.lightpick__days {padding-inline: calc(var(--int-pd, 1rem) / 2);display: grid;grid-template-columns: repeat(7, 1fr);}
.lightpick__day {--before-color: transparent;--after-color: transparent;cursor: pointer;position: relative;z-index: 1;height: 2.5rem;line-height: 2.5rem;font-size: 0.875rem;color: var(--clr-title);text-align: center;}
.lightpick__day::before {content: "";position: absolute;z-index: -2;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.2;background: var(--before-color);}
.lightpick__day::after {content: "";position: absolute;z-index: -1;left: 50%;top: 50%;transform: translate(-50%, -50%);aspect-ratio: 1;height: calc(100% - 0.125rem);border-radius: 100%;border: 1px solid var(--after-br-color, var(--after-color));background: var(--after-color);}
.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {opacity: 0.4;}
.lightpick__day.is-disabled {pointer-events: none;cursor: default;opacity: 0.4;}
.lightpick__day.is-disabled.is-forward-selected {opacity: 1;}
.lightpick__day.is-disabled.is-forward-selected:not(.is-start-date) {background-color: rgba(38, 139, 210, 0.1);}
.lightpick__day.disabled-tooltip {pointer-events: auto;}
.lightpick__day.is-today {--after-color: var(--clr-white);--after-br-color: var(--clr-primary);color: var(--clr-primary);}
.lightpick__day.is-in-range {--before-color: var(--clr-primary);}
.lightpick__day.is-in-range:not(.is-disabled) {opacity: 1;}
.lightpick__day.is-start-date,
.lightpick__day.is-end-date {--after-color: var(--clr-primary);color: var(--clr-white);}
.lightpick__day.is-start-date::before {left: 50%;width: 50%;}
.lightpick__day.is-start-date.is-flipped::before {left: 0;}
.lightpick__day.is-end-date::before {width: 50%;}
.lightpick__day.is-end-date.is-flipped::before {left: 50%;}
.lightpick__tooltip {pointer-events: none;position: absolute;z-index: 2;font-size: 0.75rem;line-height: 1em;font-weight: 400;margin-top: -0.25rem;padding: 0.25rem 0.5rem;border-radius: 0.25rem;white-space: nowrap;background-color: #fff;box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.25);}
.lightpick__tooltip::before {content: "";position: absolute;bottom: -0.35rem;left: calc(50% - 0.25rem);border-top: 0.25rem solid rgba(0, 0, 0, 0.12);border-right: 0.25rem solid transparent;border-left: 0.25rem solid transparent;}
.lightpick__tooltip::after {content: "";position: absolute;bottom: -0.25rem;left: calc(50% - 0.25rem);border-top: 0.25rem solid #fff;border-right: 0.25rem solid transparent;border-left: 0.25rem solid transparent;}
.lightpick__footer {padding-block: calc(var(--int-pd, 1em) / 2);padding-inline: var(--int-pd, 1em);gap: 1rem;display: flex;justify-content: flex-end;}
.lightpick__footer button {cursor: pointer;font-size: 1rem;line-height: 1em;font-weight: 500;color: var(--clr-black);border: none;}
.lightpick__footer-message {display: none;}
@media (min-width: 1200px) {
.lightpick__toolbar button:hover {color: var(--clr-black);}
.lightpick__footer button:hover {color: var(--clr-primary);}
}
/*====================*/
/*  Form Block        */
/*====================*/
.form-block {--space: 1.25rem;}
.form-block .row {--bs-gutter-x: var(--space);--bs-gutter-y: var(--space);}
.form-block > * {margin-bottom: var(--space);}
.form-block > *:last-child {margin-bottom: 0;}
.form-block > .mb-0 {margin-bottom: 0;}
.form-block > .mb-0 + * {padding-top: var(--space);}
@media (max-width: 767px) {
.form-block {--space: 1rem;}
}